.teacher-form-container, .admin-form-container{
    border-radius: 8px;
    padding: 30px;
    width: 70%;
    margin-top: 20px;
    background: #bcb2ff;
}

.admin-form-container{
    background: #bcb2ff;
    border-radius: 8px;
    padding: 30px;

}
.are-you-teacher-or-admin{
    display: flex;

}
.are-you-teacher-p, .are-you-admin-p{
    margin: 15px 0;
    color: #777777;
}
.are-you-teacher-h3, .are-you-admin-h3{
    font-size: 22px;
    color: #777777;;
}
.add-to-school, .register-school, .add-student-to-school {
    border-radius: 20px;
    border: 1px solid darkviolet;
    background-color: darkviolet;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

/*.add-to-school:active,.register-school:active,.add-student-to-school:active {*/
/*    transform: scale(0.95);*/
/*}*/

/*.add-to-school:focus, .register-school:focus, .add-student-to-school:focus {*/
/*    outline: none;*/
/*}*/
.data{
    align-items: baseline;
}

:root {
    --blue: #0071FF;
    --light-blue: #B6DBF6;
    --dark-blue: #005DD1;
    --grey: #f2f2f2;
}

.container {
    margin-top: 15px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
}
.img-area {
    position: relative;
    width: 100%;
    height: 240px;
    background: var(--grey);
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: dashed;
}
.img-area .icon {
    font-size: 100px;
}
.img-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}
.img-area p {
    color: #999;
}
.img-area p span {
    font-weight: 600;
}
.img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}
.img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
}
.img-area.active:hover::before {
    opacity: 1;
}
.select-image {
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 15px;
    background: slateblue;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}


.input-cont, .input-cont-teacher{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 35px;
}

.next, .next-t{
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    transition: transform 80ms ease-in;
}

.previous, .previous-t{
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    transition: transform 80ms ease-in;
}

.next:focus, .previous:focus, .next-t:focus, .previous-t:focus {
    outline: none;
}

.next:active, .previous:active, .next-t:active,.previous-t:active {
    transform: scale(0.95);
}

.btns{
    display: flex;
    justify-content: flex-end;
}
.next-prev-btn, .next-prev-btn-teacher{
    padding-top: 15px;
}
.next, .previous, .previous-t, .next-t{
    max-width: 100px;
    cursor: pointer;
}

.previous, .previous-t{
    margin-right: 15px;
}

.data-t{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.save-teacher, .save-student{
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    transition: transform 80ms ease-in;
}
.save-teacher:active {
    transform: scale(0.95);
}

.save-teacher:focus {
    outline: none;
}